node_modules/
dist/
dist-ssr/
target/
build/
bin/

.env
.env.local
.env.*.local

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea/
*.iml
*.ipr
*.iws
.vscode/
!.vscode/extensions.json
.project
.classpath
.settings/
.factorypath
.apt_generated/
.sts4-cache/

.DS_Store
Thumbs.db
Desktop.ini

.mvn/wrapper/maven-wrapper.jar
